<!doctype html>
    {% load static %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

        <title>{% block title %}E. M. Eulina Augusta {% endblock title%}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        {% block scripts-js %} {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <header class="col-12 col-sm-12 com-md-12 col-lg-12">
                    <div class="col-sm-12 col-md-12 col-lg-12" >
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <p><img src="{% static 'img/cityLogoPadrao61.png' %}" height='45px'></p>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                             <h4>
                                 ESTADO DO RIO GRANDE DO NORTE<br/>
                                 PREFEITURA MUNICIPAL DE PARNAMIRIM<br/>
                                 SECRETARIA MUNICIPAL DE EDUCAÇÃO E CULTURA<br/>
                                 ESCOLA MUNICIPAL PROFESSORA EULINA AUGUSTA DE ALMEIDA<br/>
                             </h4>
                        </div>
                    </div>
                </header>
                <main class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <p><a href="{% url 'home' %}" target="_self">Início</a> </p>
                    </div>
                    {% block content %} {% endblock content %}
                </main>
                <footer class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <p>Desenvolvido pelo professor ODAIR SOARES<br/>odairsds@gmail.com</p>
                </footer>
            </div>
        </div>
    </body>
</html>