{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} Registrar Disciplina {% endblock title %}

{% block content %}
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <form method="post" xmlns="http://www.w3.org/1999/html">
            {% csrf_token %}
            {{form | crispy }}
            <button class="btn btn-primary" type="submit">Registrar</button>
        </form>
        {% if disciplina %}
            <a href="{% url 'deletarDisc' disciplina.id_disciplina %}">Excluir disciplina</a>
        {% endif %}
    </div>
{% endblock content %}